body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;
    color: $color;
    font-family: $font-primary;
    font-size: $fs;
}
a{
    color: $primary-color;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
ul{
    li{
        position: relative;
        &:not([class]){
            &:before{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 50%;
                left: -20px;
                top: 6px;
                opacity: 0;
            }
        }
        
    }
}
.container{
    max-width: 1164px;
}

.dropdown-menu{
    > li {
        ::before{
            display: none;
        }
    }
}
.btn{
    font-size: 15px;
    font-weight: 600;
    line-height: 146%;
    border-radius: 90px;
    padding: 13px 26px;
    border: 1px solid $primary-color;
    &:hover{
        text-decoration: none;
        border: 1px solid $primary-color;
    }
    &.btn-primary{
        background-color: $primary-color;
        &:hover{
            background-color: transparent;
        }
    }
    &.btn-secondary{
        background-color: transparent;
        &:hover{
            background-color: $primary-color;
        }
    }
    &.btn-primary,
    &.btn-secondary{
        &:active{
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
    }
    .btn-lg{
        padding: 20px 28px;
        font-size: 16px;
    }
   
    img {
        margin-left: 46px;
        height: 27px;
        width: 27px;
    }
}










* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}