.custom-navbar{
	padding: 21px 0 39px;
	margin: 4px;
	.navbar-brand{
		margin: 0;
	}
	.nav-item{
		.nav-link{
			padding: 12px 18px;
			margin-top: 3px;
			color: #fff;
			&:hover{
				text-decoration: none;
				color: $primary-color;
			}
		}
	}
}