///fonts///
$font-primary: "ProximaNova";
$font-size: 16px;


///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-body: #282B38;
$bg-section: #363A4D;
$fs: 16px;
$color: #fff;
$color-secondary: #85899C;





